table.current_week_table tr {
 /*padding: 10px; */
 padding: 0; 
 
 
}
table.current_week_table tr td {
 border: 1px solid #ddd; 

}
table.current_week_table tr {
  min-height: 1cm; 
}
table.current_week_table {
 table-layout: fixed;
 font-size: 1em;
 
 line-height: 1.5em;
}
legend.mylegend {
 font-size: 0.5cm; 
}
@media print{ 
@page {size: landscape}
.page
    {
     -webkit-transform: rotate(-90deg); -moz-transform:rotate(-90deg);
     filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }

}

/*
div.time_slot_name {
  -webkit-transform: rotate(-90deg); -moz-transform:rotate(-90deg);
     filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
*/