.triangle-up {
	font-size: 10px; 
    position: absolute; 
	width: 0;
	height: 0;
	border-left: 1.1em solid transparent;
	border-right: 1.1em solid transparent;
	border-bottom: 2em solid white;
}

.triangle-down {
	font-size: 10px;
	position: absolute; 
	width: 0;
	height: 0;
	border-left: 1.1em solid transparent;
	border-right: 1.1em solid transparent;
	border-top: 2em solid white;
}


.cross {
  background: red;
  height: 10px;
  position: relative;
  width: 2px;
}
.cross:after {
  background: red;
  content: "";
  height: 2px;
  left: -4px;
  position: absolute;
  top: 4px;
  width: 10px;
}