/* main theme  colors are: 
 blue for wrappers: #0087CA
 blue text: #3C9AC9
 
*/ 

#onepage_main_div .field_wrapper #confirmbtn_button:hover {
  background-color: #013a5a; 
}
#onepage_main_div button#confirmbtn_button {
  color: white; 
}
#onepage_main_div button#confirmbtn_button {
color: white; 
background-color: #005f94; 
}
div#vmMainPageOPC .col-module_header_color {
 color: #FFD11B;
}

div#vmMainPageOPC h1, div#vmMainPageOPC h2, div#vmMainPageOPC h3 {
   color: #0087CA; 
}

div#vmMainPageOPC .continue_link_ice span, div#vmMainPageOPC .continue_link span {
  /*color: #FFD11B;*/
  color: #0087CA; 
}
div#vmMainPageOPC a:hover, div#vmMainPageOPC a:active {
 color: #0087CA; 
}
div#vmMainPageOPC a {
  color: #0087CA; 
}
div#vmMainPageOPC span#confirmbtn {
 color: #FFFFFF;
}

div#tab_selector button {
 color: white;
}

button#submit_coupon_button:hover, #onepage_main_div button.login_button:hover {
 background-color: #767779; 
}

#onepage_main_div button.login_button {
color: #FFFFFF;
 background-color: #a7a9ac; 
}
button#submit_coupon_button {
background-color: #a7a9ac; 
color: #FFFFFF;
}
span#tt_total {
  color: green;
}
div#logintab  a {
 color: #0087CA;
}
div#logintab  a:hover, div#logintab  a:active {
 color: #0087CA;
}
div#logintab .button {
 background-color: #0087CA; 
}
div.vm-customfield-cart span, #basket_container  .product-field-type-B,#basket_container  .product-field-type-S, #basket_container  .product-field-type-I {
background-image: url(images/dash.png);
}
div#title_input select, div#shipto_title_input select  {
 color: #666;
  border: 1px solid #C2C0C0;
}
div#vmMainPageOPC  div.formLabel {
color: #6c6e70; 
}
div#vmMainPageOPC div.formField input  {
 border: 1px solid #C2C0C0;
 color: #666666;
 box-shadow: 1px 1px 3px 1px #DCDCDC inset;
}
div#vmMainPageOPC button:hover .op_round {
  color: #FFFFFF;
}
#onepage_main_div .op_round:hover {
color: #FFFFFF;
}
div#vmMainPageOPC .op_round {
background-image: url(images/button.png);
 color: #CCCCCC;
}

div#vmMainPageOPC div.op_rounded h3 {
color: #555555;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_color {
    color: #015A80;
}


div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_r {
    background: url("images/col-module_dark_header_r.png") no-repeat scroll right center transparent;
}
div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_l {
    background: url("images/col-module_dark_header_l.png") no-repeat scroll left center transparent;
}
div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_arrow {
    background: url("images/col-module_dark_header_arrow.png") no-repeat scroll center bottom transparent;
}
div#vmMainPageOPC div.op_rounded_fix h3 {
    color: #FFFFFF;
}
div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_color {
    color: #CCCCCC; 
}
div.op_col2_6 a {
color: #383838;
}
div.op_col2_6 a:hover {
 color: #383838;
}
#basket_container div div div div div div div div div.op_basket_header.op_basket_row {
background-color: #3C9AC9; 
color: white; 

}
div#basket_container div.op_basket_row div.op_col6 form input.inputbox {
 background:#e8e8e8 url(../../../com_virtuemart/assets/images/vmgeneral/backgrounds.png) repeat-x;
  border: 1px solid #E5E5E5;
   color:#000;
}
#basket_container div div div div div div div div div.op_basket_header.op_basket_row div {
color: white;
}

#basket_container div div div div div div div div div.op_basket_header.op_basket_row:focus,#basket_container div div div div div div div div div.op_basket_header.op_basket_row:hover {
  background-color: #3C9AC9; 
}
div#basket_container div.op_basket_row div.op_col1 {
   color: #383838;
}
div#basket_container div.op_basket_row div.op_col2 {
 color: #383838;
}
div#basket_container div.op_basket_row div.op_col3 {
  color: #383838;
}
div#basket_container div.op_basket_row div.op_col4, div#basket_container div.op_basket_row div.op_col6, div#basket_container div.op_basket_row div.op_col5, div#basket_container div.op_basket_row div.op_col7, div#basket_container div.op_basket_row div.op_col5_3, div#basket_container div.op_basket_row div.op_col2_2, div#basket_container div.op_basket_row div.op_col2_6, div#basket_container div.op_basket_row div.op_col2_3 {
 color: #383838;
}
div#basket_container div.op_basket_row div.op_col1_4 {
  color: #6C6E70;
}
div#basket_container div.op_basket_row div.op_col2_2 div.opc_PricesalesPrice span.opc_PricesalesPrice, #basket_container .quantity_lb {
 color: #A5A5A5;
}
#vmMainPageOPC div.op_col6 form input.inputbox {
 background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C2C0C0;
    box-shadow: 1px 1px 15px 4px #DDDDDD inset;
  color: #666666;
}
#vmMainPageOPC div.op_col6 form input.inputbox:hover {
background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C2C0C0;
  box-shadow: 1px 1px 15px 4px #DDDDDD inset;
  color: #666666;
}
#basket_container .opc_product_name, #basket_container a, #basket_container .op_col2_2 .vm-customfield-cart {
 color: black; 
}
#basket_container a.opc_product_name:hover, a.opc_product_name:focus  {
color: black; 
}

div#vmMainPageOPC div.op_col2_2 a strong {
 color: #FFD11B;
}


#basket_container .opc_PricesalesPrice {
  color: #3C9AC9; 
  }
#basket_container .op_basket_row .opc_total_price, div#basket_container div.op_basket_row div.op_col5_3 {
color: #3C9AC9; 
}
div.opc_menu_active, div.opc_heading {
 background-color: #0087CA; 
 color: white; 
 }  
div.opc_menu_active button span {
 color: white; 
}

div.opc_menu_inactive {
border: 1px solid #D1D3D4;
}
div#vmMainPageOPC button.button_checkbox_ed span, div#vmMainPageOPC button.button_checkbox_uned span {
color: white; 
}
div#logintab .button {
 color: white; 
}

#basket_container .op_col6 input.inputbox {
border: 1px solid #f2f2f2; 
}
#basket_container div.vertical_line {
 border-right: 1px solid #d1d3d4;
}
#basket_container .product_wrapper {
 border-left: 1px solid #d1d3d4;
 border-bottom: 1px solid #d1d3d4;
}
#basket_container .product_wrapper .inside_product_wrapper {
border-right: 1px solid #d1d3d4;
}
#basket_container .opc_separator {
 border-bottom: 1px solid #f2f2f2;
}
#basket_container .opc_separator2 {
 border-bottom: 1px solid #D1D3D4;
}
div#vmMainPageOPC .opc_inside {
border-bottom: 1px solid #D1D3D4;
 border-left: 1px solid #D1D3D4;
 border-right: 1px solid #D1D3D4;

}
div.opc_arrow_up {
border-bottom: 20px solid #0087CA;
}
div.opc_arrow {
border-left: 20px solid #0087CA;
}
div.opc_arrow_white {
border-left: 23px solid white;
}
div#vmMainPageOPC div.formField#socialNumber_input input[type="button"] {
 background-color: #0087CA;
}

span#register_span {
 color: #6C6E70; 
}

div#vmMainPageOPC button.button_checkbox_ed span#register_span, div#vmMainPageOPC button.button_checkbox_uned span#register_span {
 color: #6C6E70; 
}