/* ######### CSS for Shade Tabs. Remove if not using ######### */
#vmMainPageOPC .vmTabContent {
	border:0px solid #636466;
	border-top:0 solid transparent;
	width:100%;
	margin-bottom: 1em;
	padding: 0px;
	background:#FFF;
	}

#vmMainPageOPC .vmTabContentInner {
	padding: 0;
	width:100%;
	margin: 3px auto;
	}
	
#vmMainPageOPC .vmTabSub {
	border-bottom:1px solid #BBB;
	width:100%;
	padding: 0px;
	background:#FBFBFB;
	margin: 0 auto 1em; 
	}	
	
#vmMainPageOPC .vmTabSubInner {
	width:95%;
	padding: 6px;
	margin: 0; 
	}
#vmMainPageOPC .shadetabs{
padding: 3px 0;
margin-left: 0 !important;
margin-top: 1px;
margin-bottom: 0;
font: bold 13px Arial;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
border-bottom:2px solid #636466;
}

#vmMainPageOPC ul.shadetabs {
	list-style-image: none;
	}

#vmMainPageOPC .shadetabs li{
display: inline;
margin: 0;
height: 40px;
background: none;
padding-left: 20px;
}

#vmMainPageOPC .shadetabs li a{
text-decoration: none;
position: relative;
z-index: 0;
padding: 3px 7px 5px;
margin-right: 0px;
/*border: 1px solid #AAA;*/
border: none; 
border-color: transparent; 
border-bottom: 0px;
color: #FEFEFE;
		/* fallback */
	background: url(images/tab_bg-inactive.png) top left #FFF;
	background: linear-gradient(bottom, rgb(59,59,61) 0%, rgb(162,164,167) 73%);

	  /* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#3b3b3b) 0%, to(#a2a4a7) 73%);

	  /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #3b3b3b 0%, #a2a4a7 73%);

	  /* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #3b3b3b 0%, #a2a4a7 73%);

	  /* IE 10 */
	background: -ms-linear-gradient(bottom, #3b3b3b 0%, #a2a4a7 73%);

	  /* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #3b3b3b 0%, #a2a4a7 73%);

font-family: Helvetica, Verdana, arial;
font-size: 14px;
}

#vmMainPageOPC .shadetabs li a:visited{
color: #2d2b2b;
}

#vmMainPageOPC .shadetabs li a:hover{
text-decoration: underline;
color: #FFF;
}

#vmMainPageOPC .shadetabs li a.selected{ /*selected main tab style */
position: relative;
padding: 3px 7px 4px;
font-size: 16px;
border: 1px solid #636466;
border-bottom:0px;

border: none; 
border-color: transparent; 

	/* fallback */
	background: url(images/tab_bg-active.png) top left #FFF;
	background: linear-gradient(bottom, rgb(44,55,146) 10%, rgb(61,140,199) 83%);

	  /* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#2c3792) 10%, to(#3d8cc7) 83%);

	  /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #2c3792 10%, #3d8cc7 83%);

	  /* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #2c3792 10%, #3d8cc7 83%);

	  /* IE 10 */
	background: -ms-linear-gradient(bottom, #2c3792 10%, #3d8cc7 83%);

	  /* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #2c3792 10%, #3d8cc7 83%);
color: #FFFFFF;
letter-spacing: 0.03em;
font-weight: bold;
font-family: Helvetica, Verdana, arial;
}

#vmMainPageOPC .shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

#vmMainPageOPC .tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 450px;
margin-bottom: 1em;
padding: 10px;
}

#vmMainPageOPC .tabcontent{
/*display:none; commented by stAn as this would require a js initialization for current tab*/
}

@media print {
#vmMainPageOPC .tabcontent {
display:block !important;
}
}