@media screen and (min-width: 100px) and (max-width: 700px) {
  #vmMainPageOPC div.left_checkout, #vmMainPageOPC div.right_checkout {
   width: 100%; 
   clear: both; 
   float: left; 
  }
  #vmMainPageOPC #onepage_info_above_button {
   margin-left: 0; 
  }
  #vmMainPageOPC  div.field_wrapper, #vmMainPageOPC  div.formField, #vmMainPageOPC  div.formLabel {
   float: left; 
   clear: both; 
   width: 100%; 
  }
  #vmMainPageOPC #onepage_info_above_button {
    margin-left: auto; 
	margin-right: auto; 
	
  }
  #vmMainPageOPC input#confirmbtn.buttonopc {
    width: 100%; 
	max-width: 222px; 
  }
  #vmMainPageOPC a.deletebtn {
  outline: none !important;
  border: 0px !important;
  border-radius: 0 !important;
   text-decoration: none;
  }
  
  #vmMainPageOPC input#confirmbtn.buttonopc {
    min-width: 222px; 
  }
  
}