/*---------------------Shoping cart---------------------------------------*/
.cart-view .right-link { position:absolute; right:20px; top:20px;}
.cart-view .right-link i { background:url(images/cart_icon2.png) left top no-repeat; width:21px; height:20px; display:inline-block; margin-right:10px; margin-top:2px;}
.cart-view .right-link:hover i { background-position:left bottom;}
.cart-view .right-link a { color:#1b1b1b; text-decoration:none;}
.cart-view .right-link:hover a { }
.width50 { width:50%;}
.width48 { width:48%;}
.width46 { width:46%;}
.width44 { width:44%;}

#form-login-username { margin-right:40px;width:46%;}
#form-login-password { width:46%;}
#com-form-order-number { margin-right:40px;width:46%;}
.order-view .control-group { width:46%;}

#form-login-password input , .cart-view .order-view  .login-box .inputbox { padding-right:15px!important;}
.width49 { width:49%;}
.cart-view .floatleft  { float:left;}
.cart-view .label , .login-wrap.cart-view label { clear:both; font:normal 14px/20px Arial, Helvetica, sans-serif; color:#6a6a6a; background:none; padding:0; margin:0; text-shadow:none;}
.cart-view .login-box .inputbox , .login-wrap.cart-view  #username ,  #jform_email ,  .login-wrap.cart-view #password {   background: #f0f0f0; border: 1px solid #e4e4e2; height: 20px; line-height: 20px; margin-bottom: 5px; padding: 8px 10px !important; width: 100%; border-radius:6px; box-shadow:none!important;}
input , textarea {box-shadow:none!important;}
.cart-view .login-box  a.reset , .cart-view .login-box  a.remind { color:#1b1b1b; text-decoration:none;}
.cart-view .login-box  a.reset:hover , .cart-view .login-box  a.remind:hover{ }
.cart-view .login-box .remember { margin-bottom:10px;}
.cart-view  .text-indent { padding:10px; padding-left:0;}
.cart-view  .text-indent span.font , .cart-view  .text-indent2 span.font{ color:#1b1b1b; font-size:16px; padding-bottom:5px; display:block;}
.cart-view  .text-indent2 { padding:10px; padding-left:20px;}
.cart-view .output-billto , .cart-view .output-shipto { padding-bottom:20px; color:#6a6a6a;}
.billing-box.after { position:relative; margin-bottom:10px; margin-top:20px;}
.billing-box.after:after { content: ""; position:absolute; left:50%; top:0; width:1px; height:100%; border-left:1px solid #e4e4e2;}

.mar_bot { margin-bottom:30px;}
.cart_billing-box  {overflow:auto; position:relative; width:100%;}

table.cart-summary { background:#fff; border-collapse:inherit; width:100%; margin-left:0px;}
.cart-summary .color { color:#6a6a6a;}
.small_screen { display:none;}
.cart-summary th { background:#f0f0f0; color:#1b1b1b; font-weight:normal; border:1px solid #e4e4e2;  border-left:none;}
.cart-summary th:first-child {border-left:1px solid #e4e4e2; }
.check_row {border:1px solid #e4e4e2;}
.check_row td {border:1px solid #e4e4e2;}
.cart-summary  th, .cart-summary  td {
    line-height: 20px;
    padding: 8px 10px;
    text-align: center;
    vertical-align: top;
}
.line-through { text-decoration:line-through;}
.cart-summary .wrapper { overflow:hidden; width:100%;}
.cart-summary  .cart-images { display:block; width:60px; margin-right:10px; float:left;}
.cart-summary .cart-title {float:left;width:130px; text-align:left;}
.cart-summary .cart-title a { color:#1b1b1b; font:bold 12px/20px Arial, Helvetica, sans-serif; text-decoration:none;}
.cart-summary .cart-title a:hover { }
.cart-summary .sectiontableentry2.check_row { background:#fdfcfc;}
.cart-summary .sectiontableentry2.check_row:hover , .cart-summary .sectiontableentry1.check_row:hover { background:#faf9f9;}
.cart_form { margin-bottom:0;}
.cart-summary .quantity-input {   background: #f0f0f0; border: 1px solid #e4e4e2; height: 20px; line-height: 20px; margin-bottom: 5px; padding: 8px 10px !important; width: 30px; border-radius:6px; margin-left:-19px;}
#vmMainPageOPC .cart_form .vm2-add_quantity_cart { background:url(images/cart_sprite.png) 0 -17px no-repeat; border:none; padding:0 0 0 20px; margin:0; font:normal 14px/20px Arial, Helvetica, sans-serif; font-family: 'Open Sans',sans-serif; color:#1b1b1b; text-decoration:none; text-align:left;}
#vmMainPageOPC .cart_form .vm2-remove_from_cart {  background:url(images/cart_sprite.png) 0 -39px no-repeat; border:none;  padding:0 0 0 20px; margin:0 0 0 -6px; display:inline-block; font:normal 14px/20px Arial, Helvetica, sans-serif; font-family: 'Open Sans',sans-serif;color:#1b1b1b; text-decoration:none;text-align:left;}
.cart_form .vm2-add_quantity_cart:hover , .cart_form .vm2-remove_from_cart:hover {}
.cart_form .vm2-add_quantity_cart:hover { background-position:0 3px;}
 .cart_form .vm2-remove_from_cart:hover { background-position:0 -59px;}
 
 .sectiontableentry1 {border:1px solid #e4e4e2;}
 .sectiontableentry1.bg_total { font-weight:bold;}
 .sectiontableentry1.bg_total .color2 { color:#;}
.sectiontableentry1 td {border:1px solid #e4e4e2; padding:15px 10px;}
.check_row td , .price td , .shipment td, .payment td , .coupon-tr td , .bg_total td { border-top:none; border-left:none;}
.check_row td:first-child , .price td:first-child , .shipment td:first-child, .payment td:first-child, .coupon-tr td:first-child, .bg_total td:first-child {border-left:1px solid #e4e4e2; }
.cart-summary .sectiontableentry1.price td:first-child { text-align:right;}
.sectiontableentry1 .total .PricesalesPrice { color:#1b1b1b; font-weight:600;}
.cart-summary .sectiontableentry1.shipment  td:first-child , .cart-summary .sectiontableentry1.payment  td:first-child { text-align:left;}
.cart-summary .sectiontableentry1.shipment td a, .cart-summary .sectiontableentry1.payment td a { text-align:right; float:right; padding-left:25px; color:#1b1b1b;}
.cart-summary .sectiontableentry1.shipment td a{ background:url(images/icon_cart.png) left -2px no-repeat;}
.cart-summary .sectiontableentry1.payment td a {background:url(images/icon_cart.png) left -20px no-repeat;}
.cart-summary .sectiontableentry1.shipment td a:hover, .cart-summary .sectiontableentry1.payment td a:hover {  text-decoration:none;}

.cart-summary .sectiontableentry1.coupon-tr td { text-align:left;}
.cart-summary .sectiontableentry1.coupon-tr td form { margin-bottom:0; padding-top:5px;}

.cart-summary .sectiontableentry1.bg_total td:first-child { text-align:right; }
.cart-summary .sectiontableentry1.bg_total .color { }
.cart-summary .sectiontableentry1.bg_total .PricebillTotal { }
.coupon_input.input-large { 
width:175px;  
background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #E4E4E2;
    border-radius: 6px 6px 6px 6px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 9px 10px !important;
	margin-right:10px;
    }
	
#checkoutForm  { margin-top:20px;}
#checkoutForm .color { color:#6a6a6a;}

#checkoutForm textarea.customer-comment {background: #f0f0f0; border: 1px solid #e4e4e2; height: 120px; line-height: 20px; margin-bottom: 5px; padding: 8px 10px !important; width: 80%; border-radius:6px; margin-top:10px;}
#checkoutForm #tosAccepted { float:left; margin-right:5px;}
#checkoutForm div .terms-of-service { float:left; color:#6a6a6a;}
.checkout-button-top a { margin-top:20px;}
.shipment_method , .payment-validate { background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #F0F0F0;
    border-radius: 6px 6px 6px 6px;
    color: #515151;
    font: 14px/20px Arial,Helvetica,sans-serif;
    margin-bottom: 30px;
    padding: 10px 20px;}
	.shipment_method .vmCartPaymentLogo img , .payment-validate .vmCartPaymentLogo img { width:100px;}
	.shipment_method .wrapper , .payment-validate .wrapper { width:100%; overflow:hidden;}
.shipment_method input , .payment-validate  input { display:inline-block; float:left; vertical-align:middle; margin-right:7px; margin-bottom:7px; margin-top:7px;}
.buttonBar-right .button ,.payment-validate  .button  { margin-bottom:10px;}
.vmshipment_description, .vmshipment_name , .vmpayment_name , .vmpayment_description { display:block; padding-top:5px;}
.sectiontableentry1.shipment .fleft , .sectiontableentry1.payment  .fleft { float:left;}
.sectiontableentry1.shipment .fright , .sectiontableentry1.payment  .fright{ float:right;}
.vmpayment_cardinfo { display:block; width:100%; overflow:auto; margin-bottom:20px;}
.vmpayment_cardinfo table td { display:block; padding:0; border:none;}

.shoper .userfields_info { padding:10px 0; display:block; font-weight:bold; font-size:14px;}
.shoper legend { border:none;}
.shoper a:hover { color:#1b1b1b; text-decoration:none;}
.shoper fieldset ul a { color:#1b1b1b; line-height:20px; outline:none;}
.shoper fieldset ul a:hover { text-decoration:underline;}
.shoper fieldset ul a.icon_delete { background:url(images/close_img.png) center center no-repeat; display:inline-block; width:20px; height:20px; text-indent:-9999px;}
.shoper fieldset ul a.icon_delete:hover { opacity:0.5;}
.shoper table { width:100%;}
.shoper table td { border: none; padding:5px;}
.shoper table td.key { width:265px;}
.shoper .user-details input { margin:0; width:96%;border:1px solid #e4e4e2;background: none repeat scroll 0 0 #F0F0F0; padding-top:8px; padding-bottom:8px;}
.shoper .user-details select { margin:0; width:99%;border:1px solid #e4e4e2;background: none repeat scroll 0 0 #F0F0F0; height:36px;padding-top:8px; padding-bottom:8px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}

.shoper .user-details  input#agreed_field { width:auto; height:auto; text-align:left;}
.shoper .user-details label {
    display:inline-block;
    float: none;
    font-weight: normal;
    text-align: left;
    width: 265px;
}
.shoper .pad-top { padding-top:20px; padding-bottom:20px;}
.shoper .pad-top .control-button { margin-right:20px; padding-bottom:20px;}
.shoper .pad-top .control-button .marg_right {margin-right:20px;}
.form-validate { margin-bottom:0;}
.form-validate #ui-tabs { margin-bottom:20px;}
.form-validate #ui-tabs #tab-2 { display:none;}
.vmorder-done td { border:1px solid #F0F0F0;}
#virtuemart_shoppergroup_id { min-height:80px;}
