div#vmMainPageOPC div#opc_basket { 
 background: none; 
 background-color: transparent; 
 float: left; 
 width: 100%; 
 clear: both; 
}

div#vmMainPageOPC #basket_container {
 padding-left: 5%; 
 padding-right: 5%; 
 
}

div#opc_basket {
 padding-top: 5px; 
}

#vmMainPageOPC div#basket_container .op_col1_header,
#vmMainPageOPC div#basket_container .op_col1,
#vmMainPageOPC div#basket_container .op_col2,
#vmMainPageOPC div#basket_container .op_col3,
#vmMainPageOPC div#basket_container .op_col4,
#vmMainPageOPC div#basket_container .op_col5,
#vmMainPageOPC div#basket_container .op_col6,
#vmMainPageOPC div#basket_container .op_col7,
#vmMainPageOPC div#basket_container .op_col8,
#vmMainPageOPC div#basket_container .op_col7_header {
	text-align:left;
	float:left;
	
}

#vmMainPageOPC a.checkout_button  {
 font-size: 18px; 
}

#vmMainPageOPC div#basket_container div#cart_header .op_col7 {
/* margin-left: -20px; 
 margin-right: 40px; */
 float: left; 
}

#vmMainPageOPC div#basket_container a.deletebtn {
 display: block; 
 text-align: right; 
}

#vmMainPageOPC div#basket_container div#cart_header .op_col6 {

}


#vmMainPageOPC div#basket_container .op_col2 {
 white-space: normal; 
 
}

#vmMainPageOPC div#basket_container .op_col2  a {
 display: inline-block; 
 word-break:break-all;
}
#vmMainPageOPC div#basket_container .op_col1_header { width: 40%;}
#vmMainPageOPC div#basket_container .op_col1{ width: 10%;}
#vmMainPageOPC div#basket_container .op_col2{ width: 60%;}
#vmMainPageOPC div#basket_container .op_col3{ width: 0%;}
#vmMainPageOPC div#basket_container .op_col4{ width: 10%;}
#vmMainPageOPC div#basket_container .op_col5{ width: 15%;}
#vmMainPageOPC div#basket_container .op_col6{ width: 10%;}
#vmMainPageOPC div#basket_container .op_col7 { width: 10%;text-align: right;}
#vmMainPageOPC div#basket_container .op_col8{ width: 10%;}
#vmMainPageOPC div#basket_container .op_col7_header{ width: 15%;text-align: right;}
#vmMainPageOPC div.opc_PricesalesPrice {
	float:none;
}

#vmMainPageOPC div#basket_container div.update_wrap,#vmMainPageOPC div#basket_container  #cart_header .op_col6 {
 text-align: center; 
}
#vmMainPageOPC .cart_prod, div#cart_header {
 width: 100%; 
 clear: both; 
 float: left; 
}

#vmMainPageOPC .cart_prod {
 position: relative; 
 
}

#vmMainPageOPC div#basket_container .opc_price_general, #vmMainPageOPC div#basket_container  .op_col8 .delete_wrap a.deletebtn {
 font-size: 18px; 
}

#vmMainPageOPC .update_wrap, #vmMainPageOPC .delete_wrap, #vmMainPageOPC .price_wrap {
 margin-top: 25px; 
 
 
 
}

div#opc_basket div.cart_title h1 {
 font-size: 20px;  
 font-family: VerlagBold,Arial,Helvetica,sans-serif; 
 margin: 0; 
 padding: 0 0 10px; 
 color: #fffbff; 
}
div.cart_title, div.continue_left, div.update_all {
 float: left; 
 padding: 0; 
 margin: 0; 
}
div.cart_title {
 width: 50%; 
}
div.continue_left {
 width: 20%; 
}

#vmMainPageOPC .continue_shopping2 a.continue_link2 {
 float: right; 
 margin-right: 10px; 
}

div.update_all {
 width: 10%; 
 text-align: center;
}

div.cart_prod  {
 border-top: 2px solid #737173; 
 
 padding-top: 10px; 
}
div#basket_cart { 
 padding-top: 10px; 
 padding-bottom: 10px; 
 border-bottom: 2px solid #737173; 
 float: left; 
 width: 100%; 
 clear: both; 
}

#vmMainPageOPC div#basket_container a.opc_product_name   {
  color: #63C3F7; 
}
/* update quantity input text */
#vmMainPageOPC div#basket_container .op_col6 input[type="text"].inputbox {
max-width: 60px; 
text-align: center;
}
div.coupon_input_wrapper, div.coupon_input_wrapper  {
 display: inline; 
 float: left; 
 padding-right: 20px; 
 width: 70%; 
}
div.opc_coupon_button_wrap {
 float: left; 
 clear: right; 
 width: 30%; 
 margin: 0; padding: 0; 
}
div.opc_basket_bottom {
 width: 100%; 
 float: left; 
 clear: both; 
 padding-top: 10px; 
 padding-bottom: 10px; 
 background-color: black; 
 padding-left: 5%; 
 padding-right: 5%; 
 box-sizing: border-box; 
}
#basket_coupon {
 float: left; 
 clear: left; 
 width: 40%; 
 min-height: 100px; 
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC .opc_basket_bottom .shipping_section {
 float: left; 
 clear: none; 
 width: 25%; 
 min-height: 100px; 
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC .opc_basket_bottom #basket_discount {
 float: left; 
 clear: right; 
 width: 35%; 
 min-height: 100px; 
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC .opc_basket_bottom  .opc_payment_wrapper {
 float: left; 
 clear: both; 
 min-height: 100px; 
}