#vmMainPageOPC input.confirm_button_green{
 height: 40px; 
 font-stretch: condensed; 
}
.myBlueBackground { 
 background: none; 
 background-color: #63C3F7; 
}
.myBlueColor, #vmMainPageOPC #onepage_main_div .myBlueColor, #vmMainPageOPC #onepage_main_div .myBlueColor:active,
#vmMainPageOPC #onepage_main_div .myBlueColor:active,
#vmMainPageOPC #onepage_main_div .myBlueColor:focus,
#vmMainPageOPC #onepage_main_div .myBlueColor:visited { 
color: #63C3F7; 
}
.myGreenColor { color: #9CFF00; }
.myGreenBackground { background: none; 
background-color: #9CFF00; 
}
.myGrayColor { color: #CECFCE; }
.myGrayBackground { background: none; 
background-color: #CECFCE; 
}
#vmMainPageOPC #onepage_main_div a, #vmMainPageOPC #onepage_main_div a:visited {
color: #0088cc; 
text-decoration: none; 
}
#vmMainPageOPC #onepage_main_div a:active, #vmMainPageOPC #onepage_main_div a:hover {
color: #0088cc; 
text-decoration: underline; 
}

#vmMainPageOPC a.opcbutton, #vmMainPageOPC input.opcbutton, #vmMainPageOPC button.opcbutton { 
 color: #394D5A !important; 
}
#vmMainPageOPC  #basket_container select.quantity_select  {
  max-width: 70px; 
}
#vmMainPageOPC a:hover.opcbutton, #vmMainPageOPC input[type="button"]:hover, #vmMainPageOPC input[type="submit"]:hover  {
 text-decoration: underline; 
}

#vmMainPageOPC .width30 {
  width: 30%; 
  max-width: 30%; 
}
#vmMainPageOPC .relative {
 position: relative; 
}
#vmMainPageOPC .absolute {
 position: absolute; 
}
#vmMainPageOPC .aligntop {
 top: 0; 
}
#vmMainPageOPC { 
 font-size: 16px; 
 
 color: #BCBEC0; 
 float: left; clear: both; 
 width: 82%; 
 margin: 0; 
 margin-top: 20px; 
 
}

#vmMainPageOPC * {
 box-sizing: border-box; 
 -webkit-box-sizing: border-box; 
 -moz-box-sizing: border-box; 
}

#vmMainPageOPC label, #vmMainPageOPC input, #vmMainPageOPC button, #vmMainPageOPC select, #vmMainPageOPC textarea {
 line-height: 20px; 
 font-size: 16px; 
 font-weight: normal; 
}

#vmMainPageOPC .opcbutton, 
#vmMainPageOPC input[type="button"].opcbutton,
#vmMainPageOPC input[type="submit"].opcbutton  {
 border-radius: 3px; 
 border: none; 
 min-height: 34px; 
 min-width: 100px; 
 padding: 3px; 
 display: inline-block; 
 width: auto; 
 padding-top: 5px; 
 padding-left: 20px; 
 padding-right: 20px; 
 line-height: 20px; 
 font-size: 16px; 
 font-weight: normal; 
 margin: 0; 
 /*-webkit-appearance: button; 
 appearance: button; */
 box-sizing: border-box; 
 text-align: center; 
 cursor: pointer; 
}


#vmMainPageOPC div#basket_container .op_col6 input.inputbox, #vmMainPageOPC input[type="text"].myinputstyle, #vmMainPageOPC input[type="username"].myinputstyle.forcestyle, #vmMainPageOPC input[type="password"].myinputstyle.forcestyle,#vmMainPageOPC input#passwd_login {
 
 
}





/* shippig section */
#vmMainPageOPC #ajaxshipping input[type="radio"] {
 right: 0; 
 top: 30%; 
 position: absolute; 
 text-align: left; 
 
 
 outline: none !important; 
}

#vmMainPageOPC #ajaxshipping label {
 width: 95%; 
 float: left; 
 clear: right; 
}

#vmMainPageOPC #ajaxshipping label .vmshipment_cost {
 clear: both; 
 float: left; 
}
#vmMainPageOPC #ajaxshipping label  .vmshipment_name {
 float: right; 
 
}
#vmMainPageOPC #ajaxshipping label  .vmCartPaymentLogo {
 float: right; 
 clear: none; 
}
#vmMainPageOPC #ajaxshipping label  .vmshipment_description {
 float: left; 
 clear: both; 
}

#vmMainPageOPC .opc_ship_wrap {
 position: relative; 
 float: left; 
 clear: both; 
 width: 100%; 
}

#vmMainPageOPC .vmshipment .vmshipment_cost {
 display: none; 
}
#vmMainPageOPC .vmshipment  .vmshipment_name {
 margin-top: 10px;
 margin-right: 20px;  
 float: right; 
}
#vmMainPageOPC  span.vmCartShipmentLogo {
 margin-left: 10px; 
 margin-right: 20px; 
 float: right; 
}

/* shipping section end */

/* payment section */


#vmMainPageOPC input[name="virtuemart_paymentmethod_id"], #vmMainPageOPC input[name="virtuemart_shipmentmethod_id"] {
 
 min-width: 20px; 
 min-height: 20px; 
 position: absolute; 
 top: 45%; 
}

/* THIS HIDES PAYMETN NAMES: */
#payment_html span.vmpayment  span.vmpayment_name {
 /*display: none; */
}

#payment_html .payment_wrap1 {
 float: left; 
 clear: both; 
 width: 100%; 
 position: relative; 
}

#vmMainPageOPC #payment_html, #payment_top_wrapper, #vmMainPageOPC .payment_and_totals, #vmMainPageOPC .op_clearfix {
 width: 100%; 
 float: left; clear: both; 
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC .payment_and_totals {
  position: relative; 
}

#vmMainPageOPC .my_relative {
position: relative; 
float: left; 
width: 100%; 
margin: 0; padding: 0; border: 0; 
}

#vmMainPageOPC #totalam  br {
 display: none; 
}

#vmMainPageOPC .opc_payment_wrapper {
 width: 55%; 
 float: left; clear: left; 
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC div.bottom_totals {

 float: left; 
 clear: right; 
  width: 40%; 
 margin: 0; padding: 0; border: 0; 
 position: absolute; 
 bottom: 0; 
 right: 0; 
}
#vmMainPageOPC .bottom_totals #totalam {
 
 bottom: 0; 
 float: left; 
}
#vmMainPageOPC .opc_payment_wrapper #payment_html input[type="radio"] {
/* float: left; 
 clear: left; 
 */
 text-align: left; 
 width: auto !important; 
 outline: none !important; 
 top: 30%; right: 0; 
 position: absolute; 
}
#vmMainPageOPC #payment_html > div {
 position: relative; 
 min-height: 20px; 
}

#vmMainPageOPC .opc_payment_wrapper #payment_html label {
 width: 95%; 
 float: left; 
 clear: right; 
}

#vmMainPageOPC .opc_payment_wrapper #payment_html label .vmpayment_cost {
 clear: both; 
 float: left; 
}
#vmMainPageOPC .opc_payment_wrapper #payment_html label  .vmpayment_name {
 float: left; 
}
#vmMainPageOPC .opc_payment_wrapper #payment_html label  .vmCartPaymentLogo {
/* float: right; */
 float: left; 
 clear: none; 
}

#vmMainPageOPC .opc_payment_wrapper #payment_html label  .vmCartPaymentLogo img {
 max-width: 90%; 
 height: auto !important; 
}

#vmMainPageOPC .opc_payment_wrapper #payment_html label  .vmpayment_description {
 float: left; 
 clear: both; 
}
/* to move the payment radio to the right: */
#vmMainPageOPC #payment_top_wrapper input[type="radio"] {
 float: right; 
 clear: right; 
}
/* end payment secton */

/* totals section */
#basket_discount .discount_label, #totalam .discount_label {
 float: left; 
 clear: left; 
 width: 35%; 
 margin: 0; padding: 0; border: 0; 
 padding-right: 5%; 
 text-align: right; 
 margin-bottom: 8px; 
}
#vmMainPageOPC  #totalam .discount_label {
 width: 45%; 
}

#vmMainPageOPC .shipping_name_wrap {
 float: left; 
 clear: both; 
 width: 100%; 
 margin-top: 20px; 
 margin-bottom: 10px; 
 font-size: 1.2em; 
}

#vmMainPageOPC .shipping_name_wrap #shipping_name_position {
 margin-left: 10px; 
}

#vmMainPageOPC #tt_total_div {
 position: relative; 
}

#vmMainPageOPC #tt_order_payment_discount_before_div, #tt_shipping_rate_div { 
 display: none; 
}
#vmMainPageOPC .return_and_confirm {
 margin-top: 40px; 
 position: relative; 
}
#vmMainPageOPC #tt_total_txt.bottom_totals_txt.discount_label, #tt_total.bottom_totals.discount_desc {
 font-size: 1.4em; 
}

#basket_discount .discount_desc, #totalam .discount_desc  {
 float: left; 
 clear: right; 
 width: 35%; 
 text-align: right; 
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC #totalam .discount_desc  {
 width: 45%; 
}

#basket_discount .discount_currency {
 float: left; 
 font-size: 2em; 
 width: 25%; 
 padding-left: 4%; 
}

#tt_total_basket_div_basket .discount_currency {

}

label.bottom_c a.opcmodal {
  margin-left: 5px; 
}

#fancybox-wrap #fancybox-outer #fancybox-content {
 background-color: black !important; 
}

#vmMainPageOPC span.discount_currency {
 position: absolute; 
 top: 0; 
 font-size: 1.4em; 
 margin-left: 12px; 
}

#tt_total_basket {
 clear: none !important; 
}

#tt_total_basket_div_basket .discount_label, #tt_total_basket_div_basket .discount_desc {
 font-size: 2em; 
}

#vmMainPageOPC .checkout_button_wrap {
 width: 100%; 
 float: left; 
 clear: both; 
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC .checkout_button_wrap .checkout_button {
 display: block; 
 max-width: 40%; 
 margin-top: 20px; 
 text-align: center; 
 margin-left: auto; 
 margin-right: auto; 
 
 
}

/* end totals section */


#full_checkout { 
 /*display: none; */
 box-sizing: border-box; 
}

/* checkbox products */
#vmMainPageOPC .ch_input_wrapper input[type="checkbox"] {
  margin: 0; padding: 0; border: 0; 
  width: auto !important; 
  outline: none !important; 
}
.ch_input_wrapper { 
 display: block; 
 width: 20%; 
 text-align: right; 
 float: left; 
 clear: left; 
 margin: 0; padding: 0; border: 0; 
}

.checkbo_product_name { 
 display: block; 
 max-width: 60%; 
 width: auto !important; 
 text-align: left; 
 float: left; 
 clear: none; 
 margin: 0; padding: 0; border: 0; 
}
.checkbox_product_price { 
 display: block; 
 width: 20%; 
 text-align: right; 
 float: left; 
 clear: right; 
 margin: 0; padding: 0; border: 0; 
}


/* checkbox products end*/


/* user field section */
#checkout_top {
float: left; 
 clear: both; 
 width: 100%; 
 background: none; 
 background-color: black; 
  border-radius: 4px; 
}
#full_checkout {
 float: left; 
 clear: both; 
 width: 100%; 
 background: none; 
 background-color: black; 
 margin: 0; padding: 0; border: 0; 
 padding-left: 5%; 
 padding-right: 5%; 
 padding-top: 10px; 
 padding-bottom: 10px; 
border-radius: 4px; 
 
}

#vmMainPageOPC div.bottom_article, #vmMainPageOPC div.bottom_article p, #vmMainPageOPC div.bottom_article {
 font-size: 12px; 
 color: #655F5F; 
}

#vmMainPageOPC div.bottom_article {
 margin-top: 10px; 
}

#vmMainPageOPC .left_section {
box-sizing: content-box; 
float: left; 
 clear: left; 
 width: 47%; 
 
 margin: 0; padding: 0; border: 0; 
 padding-right: 3%; 
}
#vmMainPageOPC .right_section {
box-sizing: content-box; 
float: left; 
 clear: right; 
 width: 50%; 
 margin: 0; padding: 0; border: 0; 
 position: relative; 
}

#vmMainPageOPC .missing, #vmMainPageOPC .opc_missing, #vmMainPageOPC input.invalid {
 border: 1px solid red !important; 
} 
/* shares style with myinputstyle */
#vmMainPageOPC div#basket_container .op_col6 input.inputbox, 
#vmMainPageOPC input.myinputstyle, 
#vmMainPageOPC input[type="username"].myinputstyle.forcestyle, #vmMainPageOPC input[type="password"].myinputstyle.forcestyle,#vmMainPageOPC input#passwd_login,
#vmMainPageOPC #full_checkout .list_user_fields  textarea, 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="text"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="password"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="datetime"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="datetime-local"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="date"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="month"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="time"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="week"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="number"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="email"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="url"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="search"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="tel"], 
#vmMainPageOPC #full_checkout .list_user_fields  input[type="color"],
#vmMainPageOPC #opc_date_picker,
#vmMainPageOPC #coupon_code  {
  background: none; 
  background-color: white; 
  height: 34px; 
 border-radius: 0 !important; 
 border: none; 
 border-color: transparent; 
 outline: none !important; 
 width: 100%; 
 
 display: inline-block;

  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
 
  box-sizing: border-box; 
}


#vmMainPageOPC #full_checkout .country_wrap {
 height: 26px; 
 background: white; 
 
}
#vmMainPageOPC #full_checkout .country_label {
 font-size: 10px; 
 padding: 0; 
 padding-left: 6px; 
}
#vmMainPageOPC #full_checkout select#virtuemart_country_id {
 height: 16px; 
 border: 0px; 
 outline:0px;
 padding: 0; 
 margin: 0; 
 font-size: 12px; 
 transition: none; 
 -webkit-transition: none; 
 box-shadow: none; 
 -webkit-box-shadow: none; 
 padding-left: 10px; 
}

#virtuemart_country_id_div { display: none; }



#vmMainPageOPC #full_checkout .list_user_fields  input[type="email"]#email_field {
 max-width: 60%; 
}
#vmMainPageOPC input#opc_date_picker {
 background-position: 97% 9px !important; 
}
#vmMainPageOPC #full_checkout .list_user_fields .formField, #vmMainPageOPC #full_checkout .list_user_fields .formLabel {
 width: 100%; float: left;  clear: both; 
 line-height: 1.5; 
}


#vmMainPageOPC #full_checkout .list_user_fields select, 
#vmMainPageOPC .vmpayment_cardinfo select, 
#vmMainPageOPC .vmpayment_cardinfo input[type="text"].inputbox, 
#vmMainPageOPC select.opc_st_select  {
  background: none; 
  background-color: white; 
  height: 34px; 
 border-radius: 0 !important; 
 border: none !important; 
 border-color: transparent; 
 outline: none !important; 
 width: 100%; 
 
  display: inline-block;

  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;

 
}
#vmMainPageOPC #full_checkout .list_user_fields   div.registrationSection {
 width: 100%; 
 float: left; 
 clear: left; 
}
#vmMainPageOPC div.registrationSection label.register_account {
 clear: right; 
 float: left; 
 width: 100%; 
 display: block; 
  margin: 0; padding: 0; border: 0; 
  
  
}

#vmMainPageOPC #full_checkout .list_user_fields .input_wrapper2 input[type="checkbox"] {
  margin: 0; padding: 0; border: 0; 
  width: auto !important; 
  outline: none !important; 
  display: inline-block; 
  line-height: 34px; 
}
#vmMainPageOPC .radio, #vmMainPageOPC .checkbox {
 min-height: 20px; 
 height: 34px; 
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {
 border: 1px solid #cccccc;
 border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   display: block;
    width: 100%;
	padding: 6px 12px;
}

#vmMainPageOPC #full_checkout .list_user_fields .input_wrapper2 { 
 display: block; 
 width: 20%; 
 text-align: right; 
 float: left; 
 clear: left; 
 margin: 0; padding: 0; border: 0; 
 min-height: 34px; 
}


#vmMainPageOPC #full_checkout .list_user_fields   div.registrationSection input[type="checkbox"] {
 float: left; 
 clear: left; 
 
}
#vmMainPageOPC #full_checkout .list_user_fields    .reg_label { 
display: block; 
width: 80%; 
float: left; 
clear: right; 
  margin: 0; padding: 0; border: 0; 
  margin-top: 0.2em; 
}
#vmMainPageOPC #full_checkout .list_user_fields   .two_col_field_left {
 width: 48%; 
}
#vmMainPageOPC #full_checkout .list_user_fields   .two_col_field_left_7 {
 width: 68%; 
}
#vmMainPageOPC #full_checkout .list_user_fields   .two_col_field_left, #vmMainPageOPC #full_checkout .list_user_fields   .two_col_field_left_7 {
box-sizing: content-box; 
 float: left; 
 clear: left; 

 margin: 0; padding: 0; border: 0; 
 padding-right: 2%; 
 
}
#vmMainPageOPC #full_checkout .list_user_fields   .two_col_field_right {
 width: 48%; 
}
#vmMainPageOPC #full_checkout .list_user_fields   .two_col_field_right_3 {
 width: 28%; 
}
#vmMainPageOPC #full_checkout .list_user_fields   .two_col_field_right, #vmMainPageOPC #full_checkout .list_user_fields   .two_col_field_right_3 {
 box-sizing: content-box; 
 float: left; 
 clear: right; 

 margin: 0; padding: 0; border: 0; 
 padding-left: 2%; 
 
}

#vmMainageOPC #customer_note_input {
 float: left; clear: both; width: 100%; 
}

textarea#customer_note_field {
 width: 100%; 
 min-height: 100px; 
}
 
/* user field section end*/


/* bootstrap fixes */
#vmMainPageOPC select:focus, #vmMainPageOPC input[type="file"]:focus, #vmMainPageOPC input[type="radio"]:focus, #vmMainPageOPC input[type="checkbox"]:focus {
 outline: none !important; 
 outline-offset: none !important; 
 -webkit-box-shadow: none !important; 
 
}
#vmMainPageOPC select {
 max-width: 100% !important; 
}
/* end bootstrap */

/* general */

#vmMainPageOPC h2.bandBoxStyleHeader {
 font-size: 24px; 
 line-height: 26px; 
 margin: 0; padding: 0; border: 0; 
 padding-bottom: 2px; 
 padding-top: 2px; 
 float: left; clear: both; 
 margin-top: 20px; 
 margin-bottom: 10px; 
 font-weight: normal; 
}
#vmMainPageOPC h2.bandBoxStyleHeader.fieldsetnum_1, #vmMainPageOPC h2.bandBoxStyleHeader.h2cart  {
 /*margin-top: 0; */
}
div.attributes .product-field-type-C > span:before {
  content:"-"; position:relative; left:-5px;
}


/* repeat basket section */
#vmMainPageOPC .repeat_basket {
 float: left; 
 clear: both; 
 width: 100%; 
 margin: 0; padding: 0; border: 0; 
 height: 200px; 
 min-height: 200px; 
 overflow: auto; 
 overflow-x: hidden; 
 overflow-y: visible; 
 border: 1px solid #ddd; 
 
}

/* css3 scroller */
#vmMainPageOPC div.repeat_basket::-webkit-scrollbar {
    width: 20px;
}
#vmMainPageOPC div.repeat_basket::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
#vmMainPageOPC div.repeat_basket::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#vmMainPageOPC div.repeat_basket::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}


#vmMainPageOPC div.p_divisor {
 width: 100%; 
 float: left; 
 clear: both; 
 margin: 0; padding: 0; border: 0; 
 
 background: -webkit-linear-gradient(left, #BCBEC0 , black); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(right, #BCBEC0, black); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(right, #BCBEC0, black); /* For Firefox 3.6 to 15 */
 background: linear-gradient(to right, #BCBEC0, black); /* Standard syntax (must be last) */
 min-height: 1px; 
 height: 1px; 
 max-height: 1px; 
 overflow: hidden !important; 
 display: block; 
 margin-top: 2px; 
 margin-bottom: 2px; 
 
}

#vmMainPageOPC .repeat_basket .inner_wrap {
 padding-top: 5px; 
 padding-left: 5px; 
 padding-right: 5px; 
 padding-bottom: 5px; 
 float: left; 
 clear: both; 
 width: 100%; 
 box-sizing: border-box; 
}
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap {
 float: left; 
 clear: both; 
 width: 100%;  
 margin: 0; padding: 0; border: 0; 
 min-height: 50px;  
}
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_left {
 float: left; 
 clear: left; 
 width: 60%;  
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_right {
 float: left; 
 clear: right; 
 width: 40%;  
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_right .product_q_p, #vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_right .product_q_p .product_q_p_wrap {
 float: left; 
 clear: both; 
 width: 100%;  
 text-align: right; 
}

#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_right .product_q_p div{
 float: left; 
 display: inline;  
 margin: 0; padding: 0; border: 0; 
 clear: none; 
}
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_right .product_q_p span{
 float: left; 
 display: inline;  
 margin: 0; padding: 0; border: 0; 
 clear: none; 
}
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_left .product_name, 
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_left .product_name a, 
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_left .product_name a:hover.opc_product_name,
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_left .product_name a:active.opc_product_name,
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_left .product_name a:visited.opc_product_name {
 font-size: 20px; 
 color: #0088cc; 
}
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_right .product_q_p .product_q_p_wrap span.q_p, 
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_right .product_q_p .product_q_p_wrap span.q_x, 
#vmMainPageOPC .repeat_basket .inner_wrap .product_wrap .op_col_right .product_q_p .product_q_p_wrap div.opc_price_general {
 float: right; 
 clear: none; 
 font-size: 20px; 
}



/* end repeat basket section */


/* card payment */
#vmMainPageOPC .vmpayment_cardinfo  {
 width: 100%; 
 float: left; 
 clear: both; 
 display: block; 
}

#vmMainPageOPC div.date_input_wrap {
 width: 50%; 
 clear: both; 
 float: left; 
}


/* agree, italian, subscription checkboxes */
#vmMainPageOPC label.bottom_c {
 width: 100%; 
 float: left; 
 clear: both; 
}
#vmMainPageOPC label.bottom_c input[type="checkbox"] {
 float: left; 
 width: auto !important; 
 clear: left; 
 margin-right: 5px; 
}

#vmMainPageOPC label.bottom_c span {
 float: left; 
 max-width: 95%; 
 clear: none; 
}


/* confirm button and around */
#vmMainPageOPC .return_to_cart {
 width: 30%; 
 float: left; 
 clear: left; 
  margin: 0; padding: 0; border: 0; 
  height: 34px; 
  vertical-align: middle; 
}

#vmMainPageOPC .payment_info, #vmMainPageOPC .payment_info2 {
 width: 40%; 
 clear: none; 
 float: left; 
 margin: 0; padding: 0; border: 0; 
 padding-right: 5px; 
 text-align: right; 
 height: 34px; 
 vertical-align: bottom; 
 box-sizing: border-box; 
 

 color: #655F5F; 
 
 
 


 
}

#vmMainPageOPC .align_bottom {
 position: absolute; 
 bottom: 0; 
 display: block; 
}

#vmMainPageOPC #onepage_submit_section {
 width: 30%; 
 clear: right; 
 float: left; 
 margin: 0; padding: 0; border: 0; 
 box-sizing: border-box; 
}
#vmMainPageOPC #onepage_submit_section > input {
 float: right; 
}

/*end, confirm button and around */


/* logged in section */
#vmMainPageOPC .titleForm {
 float: left; 
 clear: left; 
 width: 50%; 
 overflow: none; 
 display: inline-block;  
 margin: 0; padding: 0; border: 0; 
}

#vmMainPageOPC .valueForm {
 float: left; 
 clear: right; 
 width: 50%; 
 overflow: none; 
 display: inline-block;  
 margin: 0; padding: 0; border: 0; 
}
#vmMainPageOPC .edit_bt_link_wrap {
 text-align: center; 
}



 #vmMainPageOPC #tt_total_basket span.currency_format, #vmMainPageOPC #tt_total span.currency_format {
   display: none; 
 }

.bottom_notice {
 margin-top: -40px; 
 margin-bottom: 10px; 
}

.bottom_notice, #checkout-advertise-box {
 float: left; 
 font-size: 12px; 
 clear: both; 
}


div#virtuemart_country_id_input, div#shipto_virtuemart_country_id_input {
 min-height: 43px; 
}


#vmMainPageOPC .checkout_button_wrap.cwrap2 {
  display: none; 
}

#vmMainPageOPC div.opc_errors {
	display: inline-block; width: 100%; clear: both; color:red; background-color:black;
	padding-left: 5%; 
	padding-right: 5%; 
	padding-top: 10px; 
	padding-bottom: 10px; 
}

/*custom styles to make it 100% width: */
.t3-sidebar-right {
  display: none; 
}
.t3-content { width: 100%; }


#vmMainPageOPC #opc_error_msgs {
		box-sizing: border-box; 
		background:#fff1f0;color:#d85030;
		margin-top: 15px; 
		margin-bottom: 15px; 
		padding: 10px; 
		border: 1px solid rgba(216,80,48,.3);
		border-radius: 4px; 
		text-shadow: 0 1px 0 #fff; 
		display: block; 
	}