div#vmMainPageOPC {
 margin: 0; padding: 0; 
 width: 100%; 
}

#vmMainPageOPC div.product-field-display > select {
	 max-width: 150px; 
	 width: 150px; 
}

#vmMainPageOPC div.product-field {
 float: left; 
 clear: both; 
}
#vmMainPageOPC #onepage_main_div h1, #vmMainPageOPC #onepage_main_div  h2, #vmMainPageOPC #onepage_main_div  h3, #vmMainPageOPC #onepage_main_div  h4 {
 border: none; 
}

#vmMainPageOPC div.opc_ship_wrap select {
 max-width: 150px; 
 width: 150px; 
}
#vmMainPageOPC select {
 border: none; 
}

#vmMainPageOPC div#payment_html div label span {
 float: left; 
 min-height: 20px; 
}

div#ship_to_section > label {
 float: left; 
 clear: both; 
}