@media screen and (min-width: 100px) and (max-width: 730px)  {
#vmMainPageOPC .dob1, #vmMainPageOPC .dob2, #vmMainPageOPC .dob3 {
 min-width: 100%; 
 device-width: 100%;
 margin: 0;
 margin-top: 20px; 
 max-height: auto; 
 clear: both; 
}
div.op_col4, div.op_col5 {
  display: none; 
}
div.op_col1 img {
 max-width: 20%; 
 max-height: 20%; 
}

}

@media screen min-device-pixel-ratio : 1.5 {
#vmMainPageOPC .dob1, #vmMainPageOPC .dob2, #vmMainPageOPC .dob3 {
 min-width: 100%; 
 device-width: 100%;
 margin: 0;
 margin-top: 20px; 
 max-height: auto; 
 clear: both; 
 
}
body {
 background-color: red !important; 
}
}
@media only handheld   {
#vmMainPageOPC .dob1, #vmMainPageOPC .dob2, #vmMainPageOPC .dob3 {
 min-width: 100%; 
 device-width: 100%;
 margin: 0;
 margin-top: 20px; 
 max-height: auto; 
 clear: both; 
}
div.op_col4, div.op_col5 {
  display: none; 
}
div.op_col1 img {
 max-width: 20%; 
 max-height: 20%; 
}

}


