<?xml version="1.0" encoding="UTF-8" ?>
<extension version="1.5" type="package" group="opctracking" method="upgrade" >	
    <name>OPC Theme - Sandwitch CSS3</name>
    <creationDate>Oct 2013</creationDate>
    <author>RuposTel.com</author>
	<copyright>(C) 2013 RuposTel.com</copyright>
    <authorUrl>http://www.rupostel.com</authorUrl>
    <version>1.0.0</version>

	<license_key>0f11262a2a4e779e0d140ab9b0244fa4_13155</license_key>
    <description>Sandwitch theme can show different tabs for business or visitor logic. It is fully responsive.</description>
  

<params>
    
    
		<param
        type="list"
        name="show_business"
        id="show_business"
        label="Show business tab"
        description="Will hide business tab from anonymous users and rename the tab for logged in users."
       
		default="0"
         >
		    <option
				value="0">JYes</option>
			<option
				value="1">JNo</option>

		  
		</param>
		
			<param
        type="text"
        name="logged_in_tab"
        id="logged_in_tab"
        label="Tab name for logged in users"
        description="Choose a language string or a specific text to show for the logged in tab."
        
		default="COM_ONEPAGE_VISITOR_TEXT"
         />
		
			
		
       
    
</params>	
</extension>