 div.pwrapper {
   position: relative; 
   float: left; 
   width: 100%; 
   clear: both; 
 }
 
 div.pwrapper .col1, div.pwrapper .col2, div.pwrapper .col3 {
  position: relative; 
  width: 30%; 
  
  
 }
div.pwrapper .col1 {
 left: 0; 
 }
 div.pwrapper .col2 {
  left: 30%; 
 }
 div.pwrapper .col3 {
  left: 60%; 
 }
 div.col3add {
  position: static; 
  width: 100%; 
  clear: both; 
  float: left; 
 }