<?xml version="1.0" encoding="UTF-8" ?>
<extension version="1.5" type="package" group="opctracking" method="upgrade" >	
    <name>OPC Theme - Clean Simple 2</name>
    <creationDate>Oct 2013</creationDate>
    <author>RuposTel.com</author>
	<copyright>(C) 2013 RuposTel.com</copyright>
    <authorUrl>http://www.rupostel.com</authorUrl>
    <version>1.0.0</version>

	<license_key>0f11262a2a4e779e0d140ab9b0244fa4_13155</license_key>
    <description>Clean simple theme is based on pbv multi's tabs, uses two columns and can use login tab as default action. This theme is popular in Sweden especially when used with Klarna and without additional shipping address.</description>
  

<params>
    
    
		
		
		
		<param
        type="list"
        name="login_is_default"
        id="login_is_default"
        label="Show Login section by default"
        description="Will display login section by default for unlogged customers"
       
		default="0"
         >
		    <option
				value="0">JNo</option>
			<option
				value="1">JYes</option>

		  
		</param>
		
		
		<param
        type="list"
        name="use_delimiters"
        id="use_delimiters"
        label="Use VM delimiters"
        description="Will display delimiters in checkout areas of bill to, shipping or cart fields. They are not enabled by default, so they don't break your design by default. You may need to create new delimiters, as the core delimiters may get reordered by OPC logic. "
       
		default="0"
         >
		    <option
				value="0">JNo</option>
			<option
				value="1">JYes</option>

		  
		</param>
		
		
		
			
		
       
    
</params>	
</extension>