#addToHomeScreen {
  display: none !important; 
}

#vmMainPageOPC #opc_basket span.ui-icon {
 
}

#vmMainPageOPC .totals, #vmMainPageOPC .op_col7  {
 text-align: right; 
}

#vmMainPageOPC .mobile_basket {
 padding-left: 0; 
 padding-right: 0; 
}
#vmMainPageOPC .product_row {
 border-right: none; 
 border-left: none; 
 padding-right: 0; 
}

#vmMainPageOPC div.totals div.ui-block-a {
 display: none; 
}
#vmMainPageOPC  #basket_container select.quantity_select  {
  max-width: 70px; 
}
#vmMainPageOPC div.totals div.ui-block-b {
 width: 66.6%; 
}

#vmMainPageOPC div#payment_html br, #vmMainPageOPC div#ajaxshipping br {
 display: none; 
}

#vmMainPageOPC .ui-selectmenu-button {
 width: 100% !important; 
}

#vmMainPageOPC .ui-collapsible  {
 margin: 0 !important; 
}

@media (max-width: 579px) { 
 div.opc_unit_price_column {
  display: none; 
 } 
 
#vmMainPageOPC div.mobile_basket div.ui-block-a,#vmMainPageOPC div.mobile_basket div.ui-block-c,#vmMainPageOPC div.mobile_basket div.ui-block-d {
 width: 33.3%; 
} 

div.shipto_wrapper {
 clear: both; 
}
div.hidden_unit_price {
 display: block; 
 clear: both; 
}
div.stepper {
 overflow: visible; 
}
}

#vmMainPageOPC #opc_error_msgs {
		box-sizing: border-box; 
		background:#fff1f0;color:#d85030;
		margin-top: 15px; 
		margin-bottom: 15px; 
		padding: 10px; 
		border: 1px solid rgba(216,80,48,.3);
		border-radius: 4px; 
		text-shadow: 0 1px 0 #fff; 
		display: block; 
	}