
div#vmMainPageOPC  div#opc_pfw  div.field_wrapper div.formFieldShipping {

    position: absolute; 
	left: 25%; 
	margin: 0; 
    vertical-align: middle;
    max-width: 70%; 
	width: 70%;
	top: 0; 
	clear: right; 
	margin: 0; 
    padding: 0; 
}

div#vmMainPageOPC div#opc_pfw div.pf_pickup, div#vmMainPageOPC div#opc_pfw div.pf_free {
  width: 49%; 
  margin:0; 
  padding: 0; 
  position: relative !important; 
  float: left; 
  margin-bottom: 10px; 
}
div#vmMainPageOPC div#opc_pfw div.pf_free {
 margin-left: 2%; 
 clear: right; 
}

div#vmMainPageOPC div#opc_pfw div.pf_pickup div.opc_heading span.opc_title, div#vmMainPageOPC div#opc_pfw div.pf_free div.opc_heading span.opc_title {
 position: absolute; 
 left: 35px; 
 top: 0; 
 margin-top: 13px; 
 color: white; 
}
div#vmMainPageOPC div#opc_pfw div.pf_shipping button#pickup_checkbox.button_checkbox_uned div,div#vmMainPageOPC div#opc_pfw div.pf_shipping button#free_checkbox.button_checkbox_uned div {  
  background: url(pickup_images/unchecked.png) no-repeat 0 0;
margin: 0px 10px 0;
}
div#vmMainPageOPC div#opc_pfw div.pf_shipping div.opc_heading {
 position: relative; 
}
div#vmMainPageOPC div#opc_pfw div.pf_shipping button#pickup_checkbox div,div#vmMainPageOPC div#opc_pfw div.pf_shipping button#free_checkbox div {
  height: 20px !important; 
  width: 20px !important; 
  white-space: nowrap; 
  overflow: visible; 
  margin: 0; 
  padding: 0; 
  margin: 0px 10px 0;
}

div#vmMainPageOPC div#opc_pfw div.pf_shipping button#pickup_checkbox, div#vmMainPageOPC div#opc_pfw div.pf_shipping button#free_checkbox {
  position: absolute; 
  left: 5%;
  height: 100%; 
  width: 90%; 
  border: none; 
  outline: 0px transparent; 
  background: none; 
  margin: 0; 
  padding: 0; 
  
}
div#vmMainPageOPC div#opc_pfw div.pf_shipping button#pickup_checkbox:focus, div#vmMainPageOPC div#opc_pfw div.pf_shipping button#free_checkbox:focus {
 outline: 0px transparent; 
}

div#vmMainPageOPC div#opc_pfw div.pf_shipping button#pickup_checkbox.button_checkbox_ed div,
div#vmMainPageOPC div#opc_pfw div.pf_shipping button#free_checkbox.button_checkbox_ed  div {
  background: url(pickup_images/checked.png) no-repeat 0 0;
 margin: 0px 10px 0;
   
}

div#vmMainPageOPC div#opc_pfw div.pf_shipping .opc_heading .opc_title {
  margin-top: 0; 
  margin-bottom: 0; 
  top: 0% !important;
}


div#vmMainPageOPC div#opc_pfw div.pf_shipping {
  width: 100% !important; 
  clear: both !important; 
  float: left !important;
}

div#vmMainPageOPC div#opc_pfw div.pf_shipping .pf_formField {

}

div#vmMainPageOPC div#opc_pfw div#ship_to_wrapper div.arrowup {
  display: block; 
}

#pickup_text {

}

div#vmMainPageOPC div#opc_pfw div#ui-datepicker-div {
 z-index: 99999 !important;
}

div#vmMainPageOPC div#opc_pfw div.pf_shipping input.datepicker,  div#vmMainPageOPC div#opc_pfw input.opcdatepicker2 {
 background: transparent url(pickup_images/calendar.png) no-repeat 90% 5px !important;
 padding-right: 3px; 
 
}
div#vmMainPageOPC div#opc_pfw div.pf_shipping input.opcdatepickerdisabled, div#vmMainPageOPC div#opc_pfw input.opcdatepickerdisabled {
 background: transparent url(pickup_images/calendar2.gif) no-repeat 90% 5px !important;
 padding-right: 3px; 

}

div#vmMainPageOPC div#opc_pfw .isselected  { color: #6C6E70; }
div#vmMainPageOPC div#opc_pfw .inactive { color: #f1f1f2; }

div#vmMainPageOPC div#opc_pfw .inactive2 {  color: #f1f1f2 !important; border-color: #f1f1f2 !important; }

div#vmMainPageOPC div#opc_pfw .isselected2 { color: #6C6E70 !important;  border-color: #6C6E70 !important; }

div#opc_pfw select#pickup_time.inactive2, div#opc_pfw select#free_time.inactive2,div#opc_pfw select#free_route.inactive2 {
  color: #666;
  border: 1px solid #C2C0C0;

}
div#opc_pfw select#pickup_time, div#opc_pfw select#free_time, div#opc_pfw select#free_route {
  
    color: #666;
  border: 1px solid #6C6E70;
  box-shadow: none !important; 
  border-radius: 0px; 
  background: none repeat scroll 0 0 transparent;
  /*box-shadow: 1px 1px 3px 1px gainsboro inset;*/
  height: 27px; 
  padding-right: 5px; 
  padding-top: 5px; 
  padding-bottom: 5px;  padding: 0; 
  width:100%;   
}

div#opc_pfw {
 position: relative !important; 
}

div#vmMainPageOPC div#opc_pfw input#pickup_text,div#vmMainPageOPC div#opc_pfw input#free_date_text,div#vmMainPageOPC div#opc_pfw div#vmMainPageOPC div.formFieldShipping input#pickup_text,div#vmMainPageOPC div#opc_pfw div#vmMainPageOPC div.formFieldShipping input#free_date_text {
 max-width: 139px;  
 box-shadow: none;  
 padding: 5px;  
 border-radius: 0;  
  border: 1px solid #6C6E70; 
  /*max-width: 79%;*/
 
 
}

div#vmMainPageOPC div#opc_pfw input#pickup_text.opcdatepickerdisabled ,div#vmMainPageOPC div#opc_pfw input#free_date_text.opcdatepickerdisabled ,div#vmMainPageOPC div#opc_pfw div#vmMainPageOPC div.formFieldShipping input#pickup_text.opcdatepickerdisabled,div#vmMainPageOPC div#opc_pfw div#vmMainPageOPC div.formFieldShipping input#free_date_text.opcdatepickerdisabled {
 border: 1px solid #f1f1f2;
 color: #f1f1f2; 

}

div#vmMainPageOPC div#opc_pfw select#pickup_time,div#vmMainPageOPC div#opc_pfw select#free_time,div#vmMainPageOPC div#opc_pfw select#free_route {
 -webkit-appearance: textfield; 
 -moz-appearance: textfield; 
 appearance: textfield;
 max-width: 150px; 
 border: 1px solid #6C6E70; 
 box-shadow: none; 
 font-size: 12px; 
}

div#vmMainPageOPC div#ajaxshipping.jdateimg {
 display: none; 
 margin-top:5px; 
}



div#vmMainPageOPC div#opc_pwf div.coupon_text_field  div.formFieldShipping {
  float: left; 
  position: absolute; 
  right: 25%; 
  top: 0; 
  left: auto; 
}

div#vmMainPageOPC div#opc_pfw  div.formLabel {
  width: 20%; 
  display: block; 
  margin-left: 0; 
  margin-right: 0; 
  padding-left: 0; 
  padding-right: 0; 
  float: left; 
  clear: left;
  position: static;   
}



div#vmMainPageOPC div#opc_pwf div.formFieldShipping input  {
    background: none repeat scroll 0 0 transparent; /*#FFFFFF;*/
	z-index: 1;
    /*border: 1px solid #C2C0C0;*/
    /*box-shadow: 1px 1px 15px 4px #DDDDDD inset;*/
    color: #666666;
    display: block;
    font-weight: lighter;
    /*padding: 2px;*/
	box-shadow: none !important;
   padding: 5px;
	
}
div#vmMainPageOPC div#opc_pwf div.radio div.formFieldShipping input {
    float: left; 
	clear: left; 
	
}
div#vmMainPageOPC div#opc_pwf  div.formFieldShipping input[type="text"] {
  width: 100%; 
}

div#vmMainPageOPC div#opc_pwf div.formFieldShipping input#free_date_text.opcdatepickerdisabled,
div#vmMainPageOPC div#opc_pwf  input#free_date_text.opcdatepickerdisabled, 
div#vmMainPageOPC div#opc_pwf div.formFieldShipping input#pickup_text.opcdatepickerdisabled,
div#vmMainPageOPC div#opc_pwf  input#pickup_text.opcdatepickerdisabled 
 {
 border: 1px solid #f1f1f2;
 color: #f1f1f2; 
}
